/* GLOBALES */
:root{
    --fuenteTexto: 'Roboto', sans-serif;

    --azul: hsl(214, 80%, 40%);
    --gris: #AEB6C2;
    --negro: black;
    --blanco: white;
    --turquesa: #45A28F;
    --amarillo: rgb(199, 177, 36);
    --amarilloSecundario: rgb(244, 230, 143);
    --grisOscuro: #555;
    --rojo: rgb(238, 72, 72);



}

html{
    box-sizing: border-box;
    font-size:62.5%;
}

body {
    background-color: var(--blanco);
    color: var(--negro);
    font-family: var(--fuenteTexto) ;
    font-size: 16px; 
    max-width: 90%;
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1{
   font-size: 45px; 
   font-weight: bold;
}

p{
    text-align: center;
}

.no-margin{
    margin:0;
}

.no-padding{
    padding:0;
}

input,select{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding:5px;
}

/*ESPECIFICOS*/

.header{
    justify-self: center;
    display:flex;
    column-gap: 1rem;
}

.header__empresa{
    flex: 30%;
    display:flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
}

.header__logo{
    max-width:10rem;
    margin-bottom: 1rem;
    border-radius: 0;
}

.header__nombre,.header__rif{
    font-size: 14px;
    width: 22rem;
    text-align: left;
}

.header__nombre{
    margin-bottom:5px;
}

.header__titulo{
    flex:70%;
    text-align: center;
    margin:auto 0;
}

.formulario{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
}

.formulario legend{
    color:var(--azul);
    font-weight: 900;
}

.formulario__datos,.formulario__articulos{
    padding-top:1rem;
    background-color: var(--blanco);
}


.datos{
    display:flex;
    margin-bottom:5px;
    align-items: center;
}

.datos label{
    flex:30%;
}

.datos input{
    flex: 70%;
    border-radius: 5px;
    border: 1px solid var(--negro);

}

.articulos__articulo{
    display:flex;
    flex-direction: column;
}

.zona--articulo,.articulos__pago{
    display:flex;
    margin:0.5rem 0 1rem 0;
    align-items: center;
}

.articulos__cantidad{
    border: 1px solid var(--grisOscuro);
    width:10rem;
    margin-right:1rem;
}

.articulos__articulo label{
    flex:20%;
    margin-right:1rem;
}

.articulos__articulo select{
    flex:50%;
    margin-right: 2rem;
    height:3rem
}

.boton{
    font-family: var(--fuenteTexto);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--negro);
    border-radius: 0.5rem;
    padding:0.5rem;
    color:var(--negro);
    font-weight: bolder;
    background-color: var(--turquesa);
}

.boton--amarillo{
    background-color: var(--amarillo);
}

.articulos__pago label{
    margin-right:1rem;
}

.articulos__pago select{
    flex:80;
}

.footer{
    margin-top:5rem;
    font-size: 12px;
}

fieldset{
    border-radius: 1rem;
    border:5px solid var(--grisOscuro);
}

.boton:hover{
    cursor: pointer;
}

input{
    appearance: none;
}

.alert--error{
    background-color: var(--rojo);
    padding: 5px 0 5px 0;
    color:var(--blanco);
    border-radius:1rem;
}

.articulos__carrito{
    margin:1rem;
    background-color: var(--gris);
    border-radius: 1rem;
}

.blanco{
    background-color: var(--blanco);
}